header {
    width: 100%;
    height: 100px;
    background-color: rgb(217, 152, 30);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
header:hover {
    background-color: rgb(236, 176, 66);
    transition: 5s;
}
.links {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
.links:hover {
    color: rgb(236, 193, 107);
    transition: 4s;
}
#title {
    color: white;
    margin-left: 20px;
}
nav {
    margin-left: 30px;
    margin-top: 30px;
}

footer {
    color: white;
    background-color: orange;
    text-align: center;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
footer:hover{
    background-color: rgb(244, 187, 83);
    transition: 1s;
    cursor: pointer;
}
body {
    background-color: rgb(254, 217, 147);
}
#search-bar {
    margin-left: 50px;
    margin-top: 24px;
    width: 500px;
    height: 40px;
    border:1px solid black;
    border-radius: 10px;
    font-size: 18px;
}
#div1{
    background-color:  rgba(255, 187, 0, 0.718);
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
}
#div2{
    background-color:  rgba(255, 187, 0, 0.718);
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
}
#div3{
    background-color:  rgba(255, 187, 0, 0.718);
    width: 300px;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
}
#parent-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 100px;
}
h1 {
    text-align: center;
    font-weight: bolder;
}
h2 {
    text-align: center;
    font-weight: bolder;
}
.p1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.729);
}
#logo {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 7px;
    margin-left: 7px;
    border: 1px solid black;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}